{% extends 'main.html' %}

{% block body_block %}
{% load static %}

<form action="" method="post">
    {% csrf_token %} 

    <div class="form-group-lg">

        <div class="form-outline-lg">
            <h1 style="text-transform: capitalize;">Credit Bill Payment</h1>
        </div>
 
        <h6 style="margin-top: 15px;">Username:</h6>
        <div class="form-control">{{form_c.user}}</div>

        <h6 style="margin-top: 15px;">Bill Payments:</h6>
        <div class="form-control">{{form_c.bill_payments}}</div>

        <h5 style="margin-top: 15px;">Amount:</h5>
        <div class="form-item mb-3 mt-1">
            {{form_c.creditpay_amount}}
        </div>

        <button type="submit" class="submit-button c-button" id="id_4">CONFIRM</button>

    </div>
</form>


{% endblock %}   