{% extends 'main.html' %}

{% block body_block %}
{% load static %}

<form action="" method="post">
    {% csrf_token %} 
    <div class="form-group-lg">

        <div class="form-outline-lg">
            <h1 style="text-transform: capitalize;">Edit Account</h1>
        </div>
        {{editForm.name.label_tag}} 
        <div class="form-control" style="border: 2px solid black;">{{editForm.name}}</div>
        {{editForm.acc_no.label_tag}} 
        <div class="form-control" style="border: 2px solid black;">{{editForm.acc_no}}</div>
        {{editForm.email.label_tag}} 
        <div class="form-control" style="border: 2px solid black;">{{editForm.email}}</div>
        {{editForm.date_of_birth.label_tag}} 
        <div class="form-control" style="border: 2px solid black;">{{editForm.date_of_birth}}</div>
        {{editForm.bank_type.label_tag}} 
        <div class="form-control" style="border: 2px solid black;">{{editForm.bank_type}}</div>
        <button type="submit" class="submit-button c-button" id="id_4">Save Changes</button>
    </div>
</form>

{% endblock %} 