{% extends 'main.html' %}
{% block body_block %}
{% load static %}

<form method="post">
    {% csrf_token %} 

    <div class="form-group-lg">
        <div class="form-outline-lg">
            <h1>USER LOGIN</h1>
        </div>
            {{form.username.label_tag}}
        <div class="form-control mb-3 mt-1">
            {{form.username}}
        </div>
            {{form.password.label_tag}}
        <div class="form-control mb-3 mt-1">
            {{form.password}}
        </div>
           <button type="submit" class="submit-button c-button" id="id_2">Login</button> 
        <div style="text-align: center;">
        Are you a new user? Then <a class="submit" href="{% url 'register_1' %}" type="text" style="color: blue;">Register here</a>
        </div>
    </div>
</form>

{% endblock %}