{% extends 'main.html' %}

{% block body_block %}
{% load static %}


<form method="post">
    {% csrf_token %} 

    <div class="form-group">
        <div class="form-outline">
        <h1>Registration Form</h1>
        </div>

        <h5 style="text-align: center; padding-top: 1px;">(page - 2/2)</h5>
        {{form.user.label_tag}} 
        <div class="form-control" style="border: 2px solid black;">{{form.user}}</div>
        {{form.name.label_tag}} 
        <div class="form-item">{{form.name}}</div>
        {{form.acc_no.label_tag}} (10-digit Number)
        <div class="form-item">{{form.acc_no}}</div>
        {{form.email.label_tag}} 
        <div class="form-item">{{form.email}}</div>
        {{form.date_of_birth.label_tag}} 
        <div class="form-item">{{form.date_of_birth}}</div>
        {{form.amount.label_tag}} 
        <div class="form-item">{{form.amount}}</div>
        {{form.bank_type.label_tag}} 
        <div class="form-control" style="border: 2px solid black;">{{form.bank_type}}</div>

        <div class="checkbox" style="margin-top: 20px;">
            <h5>{{form.agree.label_tag}} {{form.agree}} I accept the terms and conditions</h5>
        </div>
           
        <button type="submit" class="submit-button" id="id_2">Register</button>
    </div>

</form>

{% endblock %}